"*":
  core:
    disabledPackages: [
      "spell-check"
      "linter"
      "go-debug"
      "go-imports"
      "go-plus"
      "go-signature-statusbar"
      "ide-golang"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    autoIndentOnPaste: true
    fontSize: 12
    normalizeIndentOnPaste: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "57a4e154-a69e-4573-9d05-687caffa705b"
  "linter-ui-default":
    panelHeight: 380
  "split-diff":
    ignoreWhitespace: true
  "tabs-to-spaces":
    onSave: "untabify"
  "vim-mode-plus":
    ignoreCaseForSearch: true
  welcome:
    showOnStartup: false
